{% extends 'base.html' %} {% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Musician Name</th>
      <th>Email</th>
      <th>Instrument Type</th>
      <th>Album Name</th>
      <th>Album Rating</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item.musician_id }}</td>
      <td>
        <a href="{% url 'edit_musician' item.musician_id %}"
          >{{ item.musician_name }}</a
        >
      </td>
      <td>{{ item.email }}</td>
      <td>{{ item.instrument_type }}</td>
      <td>{{ item.album_name }}</td>
      <td>{{ item.album_rating }}</td>
      <td>{{ item.album_release_date|date:"d-M-Y" }}</td>
      <td>
        <a href="{% url 'edit_album' item.album_id %}" class="btn btn-warning"
          >Edit</a
        >
        <a
          href="{% url 'delete_album' item.musician_id %}"
          class="btn btn-warning"
          >Delete</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8" class="text-center">No data available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
